.site-content {
    width: 100%;
    height: 30px;
    position: fixed;
    top: 20px;
    z-index: 10000;
}

.searchbar {
    font-size: 20px;
    width: 350px;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.magnifyer {
    margin-left: 75%;
    font-size: 30px;
    background-color: transparent;
    border: none;
  
}
.magnifyer:not(:disabled) {
    cursor: pointer;
}